* {
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}

.navbar {
    font-family: 'Bitter', serif;
    background-color: #0e0b5f;
    font-size: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    border-style: dotted;
    border-width: thick;
    border-color: transparent;
}

.navbar-brand:hover {
    border-style: dotted;
    border-width: thick;
    border-color: #95d5e9;
}

.main-content-container {
    margin: 30px;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.heading {
    font-size: 1.75rem;
}

.content {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.a-image {
    display: flex;
    justify-content: center;
}