* {
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}

/* crf is the Counselor Request Form floating button */
.crf {
    width: 140px;
    height: 140px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 80% 80% 3% 80%;
    border: thick dotted #0e0b5f;
    background-color: #95d5e9;
    color: white;
    font-size: 18px;
    text-align: center;
}

.navbar {
    font-family: 'Bitter', serif;
    background-color: #0e0b5f;
    font-size: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    border-style: dotted;
    border-width: thick;
    border-color: transparent;
}

.navbar-brand:hover {
    border-style: dotted;
    border-width: thick;
    border-color: #95d5e9;
}

.logo {
    width: 60px;
    height: 60px;
}

.main-content-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f5fcff;
}

.heading {
    font-size: 1.75rem;
    padding-top: 30px;
}

.content {
    font-size: 1rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.a-image {
    display: flex;
    justify-content: center;
}

.cgcf {
    height: 35rem;
}

.about-table {
    border-collapse: collapse;
    width: 90vw;
    border-color: white;
  }
  
  .about-table-name {
    font-size: 20px;
    padding: 5px;
    border: 1px solid white;
}
  
  .align-text-top {
    border: 1px solid #0e0b5f;

  }

  .about-main {
      display: flex;
      justify-content: center;
      margin-top: 25px;
  }

  .services-table {
    padding: 5px;
    border: 1px solid #0e0b5f;

  }
  .services-table-name {
    font-size: 20px;
    background-color: #0e0b5f;
    color: white;
}

.services-table-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border: 1px solid #0e0b5f;

}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
 
.button {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

.circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #95d5e9;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

/*iPhone 5 */
@media only screen 
and (min-device-width: 320px)
and (max-device-width: 568px) {
    .navbar {
        font-size: 10px; 
        padding: 0;
}
    .nav {
    }
    .navbar-brand {
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
    .nav-link {
        width: 33vw;
    }
    .logo {
        height: 10px;
        width: 10px;
    }
    .main-content-container {
        margin: 22px;
        font-size: 8px;
    }
    .heading {
        font-size: 14px;
    }
    .content {
        font-size: 12px;
        margin: 0;
    }
}

/*iPhone 6/7/8 */
@media only screen 
and (min-device-width: 375px)
and (max-device-width: 667px) {
    .navbar {
        font-size: 10px;
        width: 100vw;
    }
    .navbar-brand {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
    .main-content-container {
        font-size: 8px;
        width: 84vw;
    }
    .heading {
        font-size: 14px;
        /* padding: 5px; */
    }
    .content {
        font-size: 12px;
        margin: 0;
    }
    .logo {
        height: 5px;
        width: 5px;
    }
}

/*iPhone 6/7/8Plus */
@media only screen 
and (min-device-width: 414px)
and (max-device-width: 736px) {
    .navbar {
        font-size: 14px;
        width: 100vw;
    }
    .navbar-brand {
        font-size: 18px;
        display: flex;
        justify-content: center;
    }
    .main-content-container {
        font-size: 8px;
        width: 90vw;
    }
    .heading {
        font-size: 14px;
        /* padding: 5px; */
    }
    .content {
        font-size: 13px;
        margin: 0;
    }
    .logo {
        height: 5px;
        width: 5px;
    }
}